# build tools first
setuptools>=68
wheel
build

# web
flask==3.1.2
flask-cors==6.0.1
gunicorn==23.0.0
uvicorn==0.35.0

# data (Py3.12-friendly wheels)
numpy==2.2.1
pandas==2.2.3
python-dateutil==2.9.0.post0
pandas-ta==0.4.71b0

# market/api
ccxt==4.5.4
requests==2.32.5
tqdm==4.67.1
